<%= link_to "Back", supervisor_path(@supervisor),class: "btn btn-primary" , id: "button2"%>
<%= link_to "LOG OUT", logout_path, method: :delete ,class: "btn btn-primary" , id: "button1"%>

       
<div class="contolo"> <div class="control">
            <%= render 'shared/form_service' %>
            </div></div>