<!DOCTYPE html>
<html>
  <head>
    <title>Monitorapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
 
    <div class="left-nav"></div>
    <div class="right-nav">
      <ul class="navbar">
        <li><a href="">Main</a></li>
        <li><a href="">Downloads</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contacts</a></li>
        <li class="signup"><a href="/signup">signup</a></li>
        <li><a href="">Login</a></li>
      </ul>

    </div>
  
</div>
    <%= yield %>
  </body>
</html>
